# Python specific ignores
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv1/
.venv/

# IDEs and editors
.vscode/
.idea/
*.swp
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local
